<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap" />
</head>

<body>
    <div class="group-parent">
        <img class="group-child" alt="" src="./public/group-1000005988@2x.png" />

        <img class="group-item" alt="" src="./public/group-1000005989@2x.png" />

        <img class="group-inner" alt="" src="./public/group-1000005990@2x.png" />

        <img class="group-icon" alt="" src="./public/group-1000005991@2x.png" />

        <img class="group-child1" alt="" src="./public/group-1000005992@2x.png" />

        <img class="vector-icon" alt="" src="./public/vector-1805.svg" />

        <img class="group-child2" alt="" src="./public/vector-1814.svg" />

        <img class="group-child3" alt="" src="./public/vector-1815.svg" />

        <img class="group-child4" alt="" src="./public/vector-1806.svg" />

        <img class="group-child5" alt="" src="./public/vector-1807.svg" />

        <img class="group-child6" alt="" src="./public/vector-1803.svg" />

        <div class="ellipse-div"></div>
        <div class="group-child7"></div>
        <div class="group-child8"></div>
        <div class="group-child9"></div>
        <div class="group-child10"></div>
        <div class="group-child11"></div>
        <div class="group-child12"></div>
        <div class="group-child13"></div>
        <div class="group-child14"></div>
        <div class="group-child15"></div>
        <div class="group-child16"></div>
        <div class="group-child17"></div>
        <div class="group-child18"></div>
        <div class="group-child19"></div>
        <img class="group-child20" alt="" src="./public/group-1000005959.svg" />

        <img class="group-child21" alt="" src="./public/group-1000005975.svg" />

        <img class="group-child22" alt="" src="./public/group-1000005969.svg" />

        <img class="group-child23" alt="" src="./public/group-1000005970.svg" />

        <img class="group-child24" alt="" src="./public/group-1000005960.svg" />

        <img class="group-child25" alt="" src="./public/group-1000005961@2x.png" />

        <img class="group-child26" alt="" src="./public/group-1000005966@2x.png" />

        <img class="group-child27" alt="" src="./public/group-1000005967@2x.png" />

        <img class="group-child28" alt="" src="./public/group-1000005962@2x.png" />

        <img class="group-child29" alt="" src="./public/group-1000005977@2x.png" />

        <img class="group-child30" alt="" src="./public/group-1000005976@2x.png" />

        <img class="group-child31" alt="" src="./public/group-1000005968.svg" />

        <img class="group-child32" alt="" src="./public/group-1000005971@2x.png" />

        <img class="group-child33" alt="" src="./public/group-1000005972@2x.png" />

        <img class="group-child34" alt="" src="./public/group-1000005974@2x.png" />

        <img class="group-child35" alt="" src="./public/group-1000005973@2x.png" />

        <img class="group-child36" alt="" src="./public/group-1000005978@2x.png" />

        <img class="group-child37" alt="" src="./public/group-1000005979@2x.png" />

        <img class="group-child38" alt="" src="./public/group-1000005980@2x.png" />

        <img class="group-child39" alt="" src="./public/group-1000005981@2x.png" />

        <img class="group-child40" alt="" src="./public/group-1000005963.svg" />

        <img class="group-child41" alt="" src="./public/group-1000005982.svg" />

        <img class="group-child42" alt="" src="./public/group-1000005983.svg" />

        <img class="group-child43" alt="" src="./public/group-1000005984.svg" />

        <img class="group-child44" alt="" src="./public/group-1000005985.svg" />

        <img class="group-child45" alt="" src="./public/group-1000005986.svg" />

        <img class="group-child46" alt="" src="./public/group-1000005987.svg" />

        <img class="group-child47" alt="" src="./public/group-1000005964.svg" />

        <img class="group-child48" alt="" src="./public/group-1000005965.svg" />

        <img class="group-child49" alt="" src="./public/vector-1799.svg" />

        <img class="group-child50" alt="" src="./public/vector-1800.svg" />

        <img class="group-child51" alt="" src="./public/vector-1801.svg" />

        <img class="group-child52" alt="" src="./public/vector-1802.svg" />

        <img class="group-child53" alt="" src="./public/vector-1804.svg" />

        <img class="group-child54" alt="" src="./public/vector-1808.svg" />

        <img class="group-child55" alt="" src="./public/vector-1809.svg" />

        <img class="group-child56" alt="" src="./public/vector-1810.svg" />

        <img class="group-child57" alt="" src="./public/vector-1811.svg" />

        <img class="group-child58" alt="" src="./public/vector-1812.svg" />

        <img class="group-child59" alt="" src="./public/vector-1813.svg" />

        <img class="group-child60" alt="" src="./public/vector-1822.svg" />

        <img class="group-child61" alt="" src="./public/vector-1816.svg" />

        <img class="group-child62" alt="" src="./public/vector-1827.svg" />

        <img class="group-child63" alt="" src="./public/vector-1817.svg" />

        <img class="group-child64" alt="" src="./public/vector-1821.svg" />

        <img class="group-child65" alt="" src="./public/vector-1818.svg" />

        <img class="group-child66" alt="" src="./public/vector-1819.svg" />

        <div class="line-div"></div>
        <div class="group-child67"></div>
        <div class="group-child68"></div>
        <div class="why-us">WHY US</div>
        <img class="group-child69" alt="" src="./public/group-1000005994@2x.png" />

        <img class="group-child70" alt="" src="./public/vector-1826.svg" />

        <img class="group-child71" alt="" src="./public/group-1000005996@2x.png" />

        <img class="group-child72" alt="" src="./public/group-1000006000@2x.png" />

        <img class="group-child73" alt="" src="./public/group-1000006003@2x.png" />

        <img class="group-child74" alt="" src="./public/group-1000006006@2x.png" />

        <img class="group-child75" alt="" src="./public/group-1000006009@2x.png" />

        <img class="group-child76" alt="" src="./public/vector-1820.svg" />
    </div>
</body>

</html>